<script src = "{{site.baseurl}}/assets/js/main.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/jquery-3.2.1.min.js"></script>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{{site.baseurl}}/assets/materialize/js/materialize.min.js"></script>
</body>
</html>
<footer class="page-footer black">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">{{site.title}}</h5>
            <p class="grey-text text-lighten-4">{{site.description}}</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Find me in:</h5>
            <ul>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2018 Ayan Banerjee
        <a class="grey-text text-lighten-4 right" href="{{site.base_url}}">Home</a>
        </div>
    </div>
</footer>
        