<div class="">
    <div class="col s12 m12 l12">
        <div class="card horizontal hide-on-med-and-down">
            <div class="card-image">
                <img src="{{post.intro_pic}}" class="responsive-img" style="object-fit: cover; height: 446px; width: 876px">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h3 class="post-title">{{post.title}}</h3>
                    <p>{{post.excerpt}}</p>
                </div>
                <div class="card-action">
                    <a href="{{ post.url | relative_url }}">Read More</a>
                </div>
            </div>
        </div>
        <div class="card show-on-medium-and-down hide-on-large-only">
            <div class="card-image">
                <img src="{{post.intro_pic}}" class="responsive-img">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h3 class="post-title">{{post.title}}</h3>
                    <p>{{post.excerpt}}</p>
                </div>
                <div class="card-action">
                    <a href="{{ post.url | relative_url }}">Read More</a>
                </div>
            </div>
        </div>
    </div>                 
</div>