<div class="">
    <div class="col s12 m12 l12">
        <h2 class="header" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Infocus</h2>
        <hr>
        <div class="card horizontal hide-on-med-and-down">
            <div class="card-image">
                <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Screen_Shot_2018-08-27_at_6.41.20_PM.max-1000x1000.png" class="responsive-img">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h3 class="post-title">{{post.title}}</h3>
                    <p>{{post.excerpt}}</p>
                </div>
                <div class="card-action">
                    <a href="{{ post.url | relative_url }}">Read More</a>
                </div>
            </div>
        </div>
        <div class="card show-on-medium-and-down hide-on-large-only">
            <div class="card-image">
                <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Screen_Shot_2018-08-27_at_6.41.20_PM.max-1000x1000.png" class="responsive-img">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h3 class="post-title">{{post.title}}</h3>
                    <p>{{post.excerpt}}</p>
                </div>
                <div class="card-action">
                    <a href="{{ post.url | relative_url }}">Read More</a>
                </div>
            </div>
        </div>
    </div>                 
</div>