<div class="">  
  <div class="row">
    <div class="col s12 m6 l4">
        <h4 class="header" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Top Posts</h4>
        <div class="card">
            <div class="card-image">
              <img src="{{post.intro_pic}}" style="object-fit: cover; height: 150px; width: 296px" class="responsive-img">
              <span class="card-title">{{post.title}}</span>
              <a href = "{{ post.url | relative_url }}"class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
            </div>
            <div class="card-content">
              <p>{{post.excerpt}}</p>
            </div>
          </div>
        </div>
      </div>
</div>