{% include header.html %}
{% include navbar.html %}
  <div id="home" class="section scrollspy">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">{{ site.description }}</h5>
        </div>
    </div>
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="blog" class="section scrollspy">
  {% include blog-feed.html %}
  </div>
  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
{% include footer.html %}
