{% include header.html %}
{% include navbar.html %}
<div class="tag-posts container">
  <h4 class="header" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{page.title}}</h3>
    <hr>
  {% for post in site.tags[page.tag] %}
    <a href = "{{ post.url | relative_url }}">
      <div class="row">
        <div class="col l9">
          <header class="time_published">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                Published {{ post.date | date: date_format }}
            </time>
          </header>
          <h4 class="post-title">{{ post.title }}</h4>
          <p class="post-excerpt">{{ post.excerpt | truncate:100 }}</p>
        </div>
        <div class="col l2">
          <figure class="hide-on-med-and-down">
              <img src='{{post.intro_pic}}' style="object-fit: cover; height: 105.75px; width: 188px;">
          </figure>
        </div>
      </div>
    </a>
    <hr>
  {% endfor %}
</div>
{% include footer.html %}